:export {
  text: {
    fontSize: {
      base: $font-size-base;
      h1: $h1-font-size;
      h2: $h2-font-size;
      h3: $h3-font-size;
      h4: $h4-font-size;
      mobile: {
        h1: $h1-font-size-mobile;
        h2: $h2-font-size-mobile;
        h3: $h3-font-size-mobile;
        h4: $h4-font-size-mobile;
      }
    }
    lineHeight: $line-height-base;
  }

  colors: {
    primary: $primary;
    secondary: $secondary;
    tertiary: $tertiary;
    dark: $yiq-text-dark;
    light: $yiq-text-light;
    red: $red;
  }

  spacer0: map-get($spacers, 0);
  spacer1: map-get($spacers, 1);
  spacer2: map-get($spacers, 2);
  spacer3: map-get($spacers, 3);
  spacer4: map-get($spacers, 4);
  spacer5: map-get($spacers, 5);
  spacer6: map-get($spacers, 6);
  spacer7: map-get($spacers, 7);

  breakpoints: {
    min: {
      sm: map-get($grid-breakpoints, sm);
      md: map-get($grid-breakpoints, md);
      lg: map-get($grid-breakpoints, lg);
      xl: map-get($grid-breakpoints, xl);
    }
    max: {
      xs: map-get($grid-breakpoints, sm) - 1;
      sm: map-get($grid-breakpoints, md) - 1;
      md: map-get($grid-breakpoints, lg) - 1;
      lg: map-get($grid-breakpoints, xl) - 1;
    }
  }
}
