.logo {
    transform: scale(.95);
}

.logo:hover {
    transform: scale(.95);
}

#logo {
    bottom: 100%;
    right: 14%;
}

#circle {
    left: -20%;
    top: 60%;
    transform: scale(.8);
}

#centerBox {
    width: 95%;
    height: auto;
    transform: translate(-48%, -15%);
}

#redBox {
    width: 95%;
    transform: translate(-48%, -8%);
}
.form input[type="text"], .form input[type="password"], .form input[type="email"], .form input[type="date"] {
    width: 95%;
    height: 38px;
    margin: 2% 0%;
    text-align: left;
    letter-spacing: 1px;
}
#links {
    width: 96%;
    margin: 1% 0%;
    padding: 0% 2.5%;
}

.button {
    width: 100%;
    height: 40px;
    margin-bottom: 3%;
    padding: 0% 0%;
    font-size: 190%;
    letter-spacing: 2px;   
}