.logo {
    transform: scale(.8);
}

.logo:hover {
    transform: scale(.75);
    transition: 0.7s all;
}

#logo {
    bottom: 80%;
    right: -10%;
}

#circle {
    left: -20%;
    top: 60%;
    transform: scale(.8);
}

#centerBox {
    width: 95%;
    height: 56%;
    transform: translate(-48%, -15%);
}

#redBox {
    width: 95%;
    transform: translate(-48%, 13%);
}
.form input[type="text"], .form input[type="password"], .form input[type="email"], .form input[type="date"] {
    width: 95%;
    height: 38px;
    margin: 2% 0%;
    text-align: left;
    letter-spacing: 1px;
}
#links {
    width: 96%;
    margin: 1% 0%;
    padding: 0% 2.5%;
}

.button {
    width: 100%;
    height: 40px;
    padding: 0% 0%;
    font-size: 190%;
    letter-spacing: 2px;   
}